.exam-form-table {
  width: 100%;
  border-spacing: 10px;
}

.exam-form-table td {
  vertical-align: top;
  padding: 8px;
}

.exam-form-table label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
}